@page "/posts"
@model Posts.Index
@{
    ViewData["Title"] = "Home page";
}

<div class="input-group mb-3">
    <a href="~/posts/create" class="btn btn-primary">Create Post</a>
</div>

<div class="input-group mb-3">
    <label class="input-group-text" for="searchBy">Search By</label>
    <select class="form-select" id="searchBy" asp-for="SearchParams.SearchBy">
        <option value="" selected>Choose...</option>
        <option value="Title">Title</option>
        <option value="Description">Description</option>
    </select>

    <input type="text" id="keyword" class="form-control" asp-for="SearchParams.Keyword">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="search()">Search</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                Title
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/posts?sortBy=Title&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                    <a href="~/posts?sortBy=Title&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Description
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/posts?sortBy=Description&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                    <a href="~/posts?sortBy=Description&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Date Updated
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/posts?sortBy=DateUpdated&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                    <a href="~/posts?sortBy=DateUpdated&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th scope="col">
                Date Created
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/posts?sortBy=DateCreated&sortAsc=false" type="button" class="btn btn-secondary">&lt;</a>
                    <a href="~/posts?sortBy=DateCreated&sortAsc=true" type="button" class="btn btn-secondary">&gt;</a>
                </div>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Description</td>
                <td>@post.UpdatedAt</td>
                <td>@post.CreatedAt</td>
                <td>
                    <a href="~/posts/update?id=@post.Id" type="button" class="btn btn-secondary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pagination">
        @{
            var paramString = "sortBy=" + Model.SearchParams!.SortBy + "&sortAsc=" + Model.SearchParams!.SortAsc + "&keyword=" + Model.SearchParams!.Keyword + "&searchBy=" + Model.SearchParams!.SearchBy;
        }
        @{
            if (Model.SearchParams!.PageIndex > 1)
            {
                int prev = 1;
                prev = (Model.SearchParams!.PageIndex!.Value - 1) < 1 ? 1 : (Model.SearchParams!.PageIndex!.Value - 1);

                <li class="page-item">
                    <a class="page-link" href="~/posts?@(paramString)&pageSize=@(Model.SearchParams!.PageSize)&pageIndex=@(prev)">Previous</a>
                </li>
            }
        }
        <li class="page-item active"><a class="page-link" href="#">@Model.SearchParams.PageIndex of @(Model.SearchParams!.PageCount)</a></li>
        @{
            if (Model.SearchParams!.PageIndex < Model.SearchParams.PageCount)
            {

                int next = 1;
                next = (Model.SearchParams!.PageIndex!.Value + 1) > Model.SearchParams!.PageCount ? Model.SearchParams!.PageCount.Value : (Model.SearchParams!.PageIndex!.Value + 1);

                <li class="page-item">
                    <a class="page-link" href="~/posts?@(paramString)&pageSize=@(Model.SearchParams!.PageSize)&pageIndex=@(next)">Next</a>
                </li>
            }
        }


    </ul>
</nav>

@section Scripts {
    <script>
        function search() {
            window.location = "../posts?sortBy=Title&sortAsc=false&searchBy=" + $("#searchBy").val() + "&keyword=" + $("#keyword").val()
        }
    </script>
}
